body {
    
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.quote-box {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #333;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.quote-text {
    font-size: 18px;
    margin: 0;
}

.color-buttons {
    margin-top: 20px;
}

button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: beige;
}
.textArea {
    width: 600px;
    height: 300px;
}

.magic-box{
    border-radius: 5px;
    border: solid blue;
    background-color: coral;
}
section{
    margin-top: 40px;
    padding-left: 160px;
    padding-right:160px;
}

button{
    margin:10px;
}

.number{
    border-radius: 5px;
    border: solid blue;
    background-color: cornflowerblue;  
}

.converter{
    border-radius: 5px;
    border: solid chartreuse;
    background-color: darkgray; 
}